#body
{
    font-family: 'Times New Roman';
    font-size: 15px;

    background-color: #101dd154;
    border: 10px outset rgb(194, 179, 94);
    
    margin: auto;
    width: 70%;
    padding: 10px;
    text-align: center;
}
#main
{
    background-color: rgb(158, 199, 96);
}
#idea
{
    background-color: rgb(158, 199, 96);
    text-align: left;
}
#img
{
    border: 5px inset rgb(202, 93, 93);
}
#nav
{
    color: rgb(255, 0, 0);
    font-size: 20px;
}
#quals
{
    display: flex;
    flex-direction: column;
}
#Ns, #Hs
{
    display: none;
    background-color: rgb(141, 87, 87);
    color: white;
}
#Need, #Have
{
    background-color: rgb(141, 87, 87);
    font-size: 20px;
    color: white;
    cursor: pointer;
}